# Pylint settings at:
# http://pylint.pycqa.org/en/latest/technical_reference/features.html

[MASTER]
profile = no
persistent = no
ignore = codegen


[IMPORTS]
deprecated-modules=ujson

[VARIABLES]
# Tells whether we should check for unused import in __init__ files.
init-import=no

[MESSAGES CONTROL]
disable=
    E0401, # unable to import module
    R0903, # too few public methods
    R0201, # Method could be a function (no-self-use)
    W0621, # Redefining name 'form' from outer scope (line 21) (redefined-outer-name)
    C0103, # Constant name "app_name" doesn't conform to UPPER_CASE naming style (invalid-name)
    W0212, # Access to a protected member _meta of a client class (protected-access)
    R0801, # Similar lines in 2 files
    C0114, # Missing module docstring (missing-module-docstring)
    C0115, # Missing class docstring (missing-class-docstring)
    C0116, # Missing function or method docstring (missing-function-docstring)
    R0914, # Too many local variables (21/15) (too-many-locals)
    R1702, # Too many nested blocks (6/5) (too-many-nested-blocks)
    R0911, # Too many return statements (7/6) (too-many-return-statements)
    R0912, # Too many branches (31/12) (too-many-branches)
    R0915, # Too many statements (93/50) (too-many-statements)
    R1705, # Unnecessary "elif" after "return" (no-else-return)
    R1710, # Either all return statements in a function should return an expression, or none of them should. (inconsistent-return-statements)
    W0613, # Unused argument 'args' (unused-argument)
    W0223, # Method 'release' is abstract in class 'BasicProvider' but is not overridden (abstract-method)
    W0703, # Catching too general exception Exception (broad-except)
    R1725, # Consider using Python 3 style super() without arguments (super-with-arguments
    R1721, # Unnecessary use of a comprehension (unnecessary-comprehension)
