{% extends "base.html" %}

{% block content %}
<style>
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        /* remove extra space below image */
    }

    .box {
        border-radius: 25px;
        padding: 5px;
        height: 400px;
        width: 250px;
    }

    .wishlist {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
</style>

<section class="container">
    {% for course in object_list %}
    <div class="p-4 md:w-1/3">
        <div class="box">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{ course.thumbnail.url }}"
                alt="{{ course.name }}">
            <div class="p-6">
                <h6 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">CATEGORY</h6>
                <h5 class="title-font text-lg font-medium text-gray-900 mb-3">{{ course.name }}</h5>
                <p class="leading-relaxed mb-3">{{ course.description}}</p>
                <a href="{{ course.get_absolute_url }}">Go to course
                </a>

            </div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}